body {
  font-family: "Roboto", sans-serif;
  color: #5f6769;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.surround {
  margin: 30px auto;
  padding: 30px 40px;
  border: 1px solid;
  border-radius: 15px;
  max-width: 900px;
}

.city-search {
  padding: 10px 30px;
}

.today-temp {
  margin: 0 auto;
}

.image-border {
  margin: 0 auto;
  border: 5px solid #5f6769;
  border-radius: 50%;
  height: 100%;
}

.current-temp {
  font-size: 30px;
}

.active {
  color: #5f6769;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #5f6769;
}

.current-image {
  width: 20vw;
  height: auto;
}

.forcast {
  width: 10vw;
  height: auto;
  padding: 20px;
}

.card {
  text-align: center;
}

.current {
  padding-top: 40px;
}

.current-city-heading {
  font-size: 50px;
}

.current-city {
  font-size: 25px;
  list-style-type: none;
}
