body {
  font-family: "Roboto", sans-serif;
  color: #5f6769;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.container {
  max-width: 900px;
}

.surround {
  margin: 30px auto;
  margin-bottom: 0;
  padding: 30px 40px;
  border: 1px solid #5f6769;
  border-radius: 15px;
  max-width: 900px;
}

.city-search {
  padding: 10px 30px;
}

.today-temp {
  margin: 0 auto;
}

.current-temp {
  font-size: 30px;
}

.current-icon {
  width: 15vw;
  height: auto;
  margin: 0 auto;
  border: 1px solid #5f6769;
  border-radius: 50%;
  max-width: 100%;
}

.unit {
  font-size: 16px;
  position: relative;
  top: -10px;
}

.card {
  text-align: center;
}

.forecast {
  text-align: center;
}

.forecast-icon {
  width: 15vw;
  height: auto;
  margin: 0 auto;
  border: 1px solid #5f6769;
  border-radius: 50%;
  max-width: 100%;
}

.forecast-temp {
  padding: 10px;
}

.forecast-high {
  font-weight: 900;
}

.current {
  padding-top: 20px;
}

.current-city-heading {
  font-size: 50px;
}

.current-city {
  font-size: 25px;
  list-style-type: none;
}
